@import url(reset.css);
@import url(typography.css);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script|Signika);

* {
    box-sizing: border-box;
}

/*** начало блока header
    ==================== ***/

header {
    background: url(../images/header-bg.jpg) no-repeat center;
    background-size: cover;
    width: 100%;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

p.logo {
    padding-top: 20px;
}

nav {
    margin-top: -31px;
    padding-bottom: 165px;
}

nav li {
    display: inline;
    padding: 41px 10px 5px;
    transition: background .3s;
}

header li:hover, header li:first-child {
    background: #3f9fc9;
}

h1 {
    width: 100%;
    position: absolute;
    left: 0;
    opacity: 0;
    margin: 0 auto;
}

.h-icons {
    padding: 320px 0 185px;
}

.h-icons img {
    margin-right: 15px;
}

img[alt="in"] {
    margin-right: 0;
}

/*** начало блока about
    ==================== ***/

#about::before, #services::before, #clients::before, #contacts::before {
    content: '';
    width: 0;
    height: 0;
    border-right: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid transparent;
    position: absolute;
    left: 50%;
    margin-left: -55px;
}

#about::before {
    border-top: 40px solid #241912;
}

#about, #services, #clients, #contacts {
    width: 100%;
    position: relative;
}

#about {
    background: #f17c72;
}

#about li:hover, #about li:nth-last-child(4) {
    background: #e6655e;
}

h2+p {
    padding: 40px 0 110px;
}

.services {
    background: #2aae96;
    padding: 0 7px;
}

.clients {
    background: #7f4c76;
    padding: 0 7px;
}

p>a {
    color: #f8291a;
}

.team, .our-set {
    padding-bottom: 190px;
}

.worker {
    background: #e6655e;
    border: 4px solid #f4948b;
    display: inline-block;
    width: 220px;
    margin-right: 15px;
}

.worker:last-child {
    margin-right: 0;
}

.worker>img {
    border: 3px solid #f4948b;
    border-radius: 50%;
    margin: 20px 0 30px;
}

.team p {
    border-bottom: 2px solid #2aae96;
    padding-bottom: 20px;
}

.a-icons {
    padding: 21px 0;
}

.a-icons img {
    margin-right: 5px;
}

/*** начало блока services
    ==================== ***/

#services::before {
    border-top: 40px solid #f17c72;
}

#services {
    background: #32ac97;
}

#services li:hover, #services li:nth-last-child(3) {
    background: #46dcc7;
}

.set {
    background: #46dcc7;
    border: 4px solid #a5dbd1;
    display: inline-block;
    width: 220px;
    margin-right: 15px;
}

.set:last-child {
    margin-right: 0;
}

.set>img {
    padding: 20px 0 20px;
}

.set>p {
    padding: 20px 5px 35px;
}

/*** начало блока clients
    ==================== ***/

#clients::before {
    border-top: 40px solid #32ac97;
}

#clients {
    background: #7f4c76;
}

#clients li:hover, #clients li:nth-last-child(2) {
    background: #b288ab;
}

#clients h2 {
    padding-bottom: 110px;
}

.companys {
    padding-bottom: 70px;
}

.company {
    display: inline-block;
    width: 220px;
    margin-right: 15px;
    padding-bottom: 110px;
}

.company:nth-last-child(5), .company:last-child {
    margin-right: 0;
}

.company>img {
    padding-bottom: 25px;
}

.company>p {
    padding: 15px 0;
}

.companys a {
    opacity: .4;
    transition: opacity .2s;
}

.companys a:hover {
    opacity: 1;
}

/*** начало блока contacts
    ==================== ***/

#contacts::before {
    border-top: 40px solid #7f4c76;
}

#contacts {
    background: #3f9fc9;
    padding-bottom: 180px;
}

#contacts li:hover, #contacts li:last-child {
    background: #37637f;
}

.address, .form, #contacts img {
    float: left;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

#contacts h3 {
    padding-bottom: 40px;
}

.address p {
    padding-bottom: 65px;
}

#contacts img {
    padding: 60px 0 0 50px;
}

.form {
    margin-left: 87px;
}

input[type="text"] {
    margin-right: 10px;
}

input[placeholder] {
    width: 14em;
    height: 2.5em;
    padding: 0 10px;
}

textarea {
    width: 29.1em;
    height: 13em;
    resize: none;
    padding: 10px;
    margin-top: 20px;
}

input[placeholder], textarea {
    border: 0.063em solid #39596e;
    background: #c2e8f4;
    cursor: pointer;
}

input[value] {
    background: #f17c72;
    border: 0.063em solid #b76058;
    padding: 5px 45px;
    margin-top: 20px;
    cursor: pointer;
}

input[placeholder]:focus, textarea:focus {
    outline: none;
}

/*** начало блока footer
    ==================== ***/

footer {
    background: #334960;
    width: 100%;
    padding: 25px 0;
}

footer p {
    padding-bottom: 7px;
}

footer img {
    margin-top: 12px;
    width: 88px;
    height: 31px
}

footer a:hover {
    color: #53cbff;
}

#toTop {
    width: 45px;
    position:fixed;
    bottom:15px;
    right:15px;
    cursor:pointer;
    display:none;
}