* {
    color: #fff;
}

p.logo {
    font: 2.250em Kaushan Script, cursive;
}

nav {
    font: 1.125em Signika, sans-serif;
    text-align: right;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Signika, sans-serif;
    color: #ecedef;
    text-align: center;
    text-transform: capitalize;
}

h1 {
    font-size: 3.750em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.188em;
}

h2+p {
    font: 1.188em Arial, sans-serif;
    text-align: center;
}

h3+p {
    font: 0.813em Arial, sans-serif;
}

.team {
    text-align: center;
}