* {
    color: #fff;
}

p.logo {
    font: 2.250em 'Kaushan Script', cursive;
}

nav {
    font: 1.125em Signika, sans-serif;
    text-align: right;
}

a {
    text-decoration: none;
}

h1, h2, h3 {
    font-family: Signika, sans-serif;
    color: #ecedef;
    text-align: center;
    text-transform: capitalize;
}

h1 {
    font-size: 3.750em;
}

h2 {
    font-size: 3em;
}

h3 {
    font-size: 1.188em;
}

h2+p {
    font: 1.188em Arial, sans-serif;
}

h3+p, .companys a, footer {
    font: 0.813em Arial, sans-serif;
}

h2+p, .h-icons, .team, .our-set, .companys, form {
    text-align: center;
}

.address h3, .form h3 {
    text-align: left;
}

.address p {
    font: 0.875em Arial, sans-serif;
    line-height: 20px;
}

.address a {
    color: #373b47;
}

input[placeholder], textarea {
    font: 0.813em Arial, sans-serif;
    color: #39596e;
}

input[value] {
    font: 1.188em Arial, sans-serif;
}

.f-logo {
    font: 1.5em 'Kaushan Script', cursive;
}